<!DOCTYPE html>
<html>
<head>
    <title>Docker Monitoring</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">

<h1>Docker Monitoring</h1>

<div class="card">
    <h2>Docker Engine</h2>
    <p>Status: Running</p>
</div>

<div class="card">
    <h2>Containers</h2>
    <p>my-nginx</p>
    <p>jenkins-controller</p>
</div>

<div class="card">
    <h2>Deployment Runtime</h2>
    <p>Containerized Infrastructure</p>
    <p>Docker Active</p>
</div>

<br>

<a href="/">⬅ Back to Dashboard</a>

</div>

</body>
</html>
