<!DOCTYPE html>
<html>
<head>
    <title>GitHub Activity</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">

<h1>GitHub Repository</h1>

<div class="card">
    <h2>Repository</h2>
    <p>nodejs-cicd-project</p>
</div>

<div class="card">
    <h2>Owner</h2>
    <p>Fhelobanty</p>
</div>

<div class="card">
    <h2>Branch</h2>
    <p>main</p>
</div>

<div class="card">
    <h2>Source Control</h2>
    <p>GitHub Integrated</p>
</div>

<br>

<a href="/">⬅ Back to Dashboard</a>

</div>

</body>
</html>
