<!DOCTYPE html>
<html>
<head>
    <title>Jenkins Pipeline</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">

<h1>Jenkins CI/CD Pipeline</h1>

<div class="card">
    <h2>Controller</h2>
    <p>IP: 52.201.239.60</p>
    <p>Status: Online</p>
    <p>Port: 8081</p>
</div>

<div class="card">
    <h2>Agent Node</h2>
    <p>IP: 54.175.56.17</p>
    <p>Status: Connected</p>
    <p>Java 21 Active</p>
</div>

<div class="card">
    <h2>Build Status</h2>
    <p>Pipeline Health: Healthy</p>
    <p>Last Build: Success</p>
    <p>Execution Mode: Distributed</p>
</div>

<br>

<a href="/">⬅ Back to Dashboard</a>

</div>

</body>
</html>
